

.grid-container {
  display: flex;
  flex-grow: 1;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* .skills-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.skills{
  display: flex;
  justify-content: center;
  align-items: center;

} */
.grid{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    width: 350px;
    height: 450px;


    gap: 3px;
  }
  @media screen and (max-height: 700px) {
    .grid {
      width: 350px;
      height: 375px;
    }
    .button-default{
      font-size: 0.7rem;
    }
  }
 
  .text-input {
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
  }
 
.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.button-default{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  border-style: none;
  color: white;
  background-color: grey;
  z-index: 2;
}

.board{
  margin: auto;
  max-width: 600px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  width: 100%;
}

.completion-banner{
  position: fixed;
  padding: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-repeat: no-repeat;
  animation-fill-mode: both;
  background-color: rgb(100, 100, 100);
  z-index: 3;
  animation: fadeOut ease 3s forwards;

}

/* Options Formatting */
.options{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Keyboard Formatting */ 
.custom-keyboard{
  background-color: transparent;
}
.myTheme.hg-theme-default{
  background-color: #212529;
}
.hg-theme-default .hg-button{
  height: 60px;
  font-family: inherit;
  font-weight: bold;
}
.hg-button{
  padding: 0.5rem;
  color: #000000;
}

@keyframes fadeOut {
  0% {opacity: 0.9;}
  50% {opacity: 0.9;}
  100% {opacity: 0;} 
} 
@keyframes spin{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}

}