.container {
    margin-top: 100px;
    display: inline;
    justify-content: center;
    align-items: center;
  }
 
  .text-input {
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
  }
 
.buttons{
  margin: 1rem;  
}