.grid-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* .skills-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.skills{
  display: flex;
  justify-content: center;
  align-items: center;

} */
.grid{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    width: 350px;
    height: 450px;
    gap: 3px;
  }
 
  .text-input {
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
  }
 
.buttons{
  margin: 1rem;  
}



.board{
  margin: auto;
  max-width: 500px;
}

.hg-theme-default{
  background: #0f0f0f;

}
.hg-theme-default .hg-button{
  height: 60px;
  font-family: inherit;
  font-weight: bold;
}
.hg-button{
  padding: 0.5rem;
  
  color: #000000;

}
.hg-standardBtn{
  background: grey;
}