.settings-overlay{
    /* Taken from W3 schools */
    position: fixed; /* Sit on top of the page content */
    width: 500px; /* Full width (cover the whole page) */
    height: 700px; /* Full height (cover the whole page) */
    left: 50%;
    transform: translate(-50%, 0); /* Center */
    background-color: rgba(10,10,10); /* Black background with opacity */
    z-index: 6; /* Specify a stack order in case you're using a different order for other elements */
    border-radius: 1rem;
    animation: fadeIn 0.5s;

}

.settings-list{

}

.blurred-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10,10,10,0.7);
    z-index: 1;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }