
.word-box-container{
  display: flex;
  
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  margin-top: 1px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 1px;
}
.p3{
  margin-bottom: 0rem;
}

.lighter-border {
  border: rgb(99, 99, 99) solid 2px;
}
.bg-color-green {
    background-color: #538d4e;

  }
.bg-color-yellow {
    background-color: #b59f3b;

  }
.bg-color-grey{
    background-color: #3a3a3c;

  }
.flip-animation{
    animation: flip 0.5s ease forwards
}
.bg-color-none{
    background-color: #3a3a3c;
  }

.computing-animation{
    animation: cycleColor 1s infinite;
}

@keyframes cycleColor {
  0% {
    background-color: #3a3a3c;
  }
  25% {
    background-color: #538d4e;
  }
  50% {
    background-color: #b59f3b;
  }
  75% {
    background-color: #3a3a3c;
  }
}
/* netNinja flip animation */
@keyframes flip {
    0%{
        transform: rotateX(0deg);
    }
    45%{
        transform: rotateX(90deg);
    }
    55%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

