.cont{
    display: inline-flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
}
.cont > * {
    margin-top: 0;
    margin-bottom: 0;
}

.row{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    column-gap: 3px;
    justify-content: center;
}
.skill{
    text-align: end;
    width: 6rem;
    position: relative;
    right: 2rem;
}