

.row{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-content: space-between;
    min-width: 100%;
    min-height: 100%;
    margin-left: 0;
    margin-right: 0;
    column-gap: 3px;
    justify-content: center;
}
.skill{
    text-align: end;
    width: 6rem;
    position: relative;
    right: 2rem;
}